Source: ros-hydro-hector-quadrotor-pose-estimation
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-hector-pose-estimation, ros-hydro-hector-uav-msgs
Homepage: http://ros.org/wiki/hector_quadrotor_pose_estimation
Standards-Version: 3.9.2

Package: ros-hydro-hector-quadrotor-pose-estimation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-hector-pose-estimation, ros-hydro-hector-uav-msgs, ros-hydro-nodelet
Description: hector_quadrotor_pose_estimation provides a hector_pose_estimation node and nodelet specialized for hector_quadrotor.
