Source: ros-hydro-hector-quadrotor-controller-gazebo
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-gazebo-ros-control (>= 2.3.4), ros-hydro-hector-quadrotor-controller
Homepage: http://ros.org/wiki/hector_quadrotor_controller_gazebo
Standards-Version: 3.9.2

Package: ros-hydro-hector-quadrotor-controller-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-gazebo-ros-control (>= 2.3.4), ros-hydro-hector-quadrotor-controller
Description: The hector_quadrotor_controller_gazebo package implements the ros_control RobotHWSim interface for the quadrotor controller in package hector_quadrotor_controller.
